#ct-dashboard .ct-support-container {
	text-align: center;
	margin-top: 100px;
	padding: 50px;
	border-radius: 3px;
	background: rgba(245, 247, 249, 1);

	h2 {
		margin-top: 0;
	}

	p {
		display: block;
		max-width: 600px;
		text-align: center;
		margin: 0 auto 20px auto !important;
	}

	.ct-button {
		--buttonHeight: 42px;
		--buttonPadding: 20px;
		--buttonFontSize: 14px;
	}
}