.widget_shopping_cart {
	ul {
		li {
			--margin: 20px;

			display: flex;
			align-items: center;
			position: relative;

			.product-thumb {
				@include media-breakpoint-down (xs) {
					flex: 0 0 25%;
					margin-right: 5%;
				}

				@include media-breakpoint-only (sm) {
					flex: 0 0 20%;
					margin-right: 4%;
				}

				@include media-breakpoint-only (md) {
					flex: 0 0 15%;
					margin-right: 3%;
				}

				@include media-breakpoint-up (lg) {
					flex: 0 0 25%;
					margin-right: 25px;
				}
			}

			.remove {
				position: absolute;
				top: 0;
				right: 0;
				width: 15px;
				height: 15px;
				font-size: 17px;
				font-weight: normal;
				line-height: 13px;
				text-align: center;
			}

			.product-data {
				display: flex;
				flex-direction: column;

				.quantity {
					font-size: 13px;
					font-weight: 500;
					margin-top: 3px;
				}
			}

			.blockOverlay {
				opacity: 0 !important;
			}
		}
	}

	.total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 15px;
		margin-top: 25px;
		padding-top: 20px;
		border-top: 1px dashed #d7dee5;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 25px;

		> * {
			width: calc(50% - 8px);
			color: var(--buttonTextInitialColor, #fff);

			&:hover {
				color: var(--buttonTextHoverColor, #fff);
			}
		}
	}

}