.wp-block-cover {
	h2 {
		font-size: var(--fontSize);
		line-height: var(--lineHeight);
		max-width: 100%;
		padding: initial;
	}

	.wp-block-cover__inner-container {
		padding-top: calc(40px + 1vw);
		padding-bottom: calc(40px + 1vw);
		@include container-width(( width: fixed ));
	}
}

article {
	&[data-page-structure="narrow"] {

		.wp-block-cover__inner-container {
			@include media-breakpoint-up (lg) {
				> * {
					margin-left: auto;
					margin-right: auto;
					width: var(--narrowContainerWidth);
				}
			}
		}

	}
}