.ct-btn-remove {
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	width: 28px;
	height: 28px;
	font-family: dashicons;
	font-size: 14px;
	line-height: 14px;
	color: inherit;
	padding: 0;
	margin-right: -12px;
	border: none;
	cursor: pointer;
	background: none;
	transition: color 0.1s ease;

	&:before {
		content: "\f335";
	}

	&:hover {
		color: #dd4b39;
	}

	&:focus {
		outline: none;
	}
}