// builder panel
$panel-height: 320px;
$panel-bar-height: 46px;
$panel-placement-height: $panel-height - $panel-bar-height;

// builder items
$builder-item-width: 100px;
$builder-item-height: 37px;
$builder-items-spacing: 8px;

@import 'builder-sidebar';
@import 'panels';
@import 'view-switch';
@import 'builder-rows';
@import 'builder-columns';
@import 'builder-items';
@import 'available-items';
@import 'builder-offcanvas';
@import 'builder-pointers';
@import 'item-buttons';
@import 'footer';
