// color
.has-palette-color-1-color {
	color: var(--paletteColor1);
}

.has-palette-color-2-color {
	color: var(--paletteColor2);
}

.has-palette-color-3-color {
	color: var(--paletteColor3);
}

.has-palette-color-4-color {
	color: var(--paletteColor4);
}

.has-palette-color-5-color {
	color: var(--paletteColor5);
}

// background color
.has-palette-color-1-background-color {
	background-color: var(--paletteColor1);
}

.has-palette-color-2-background-color {
	background-color: var(--paletteColor2);
}

.has-palette-color-3-background-color {
	background-color: var(--paletteColor3);
}

.has-palette-color-4-background-color {
	background-color: var(--paletteColor4);
}

.has-palette-color-5-background-color {
	background-color: var(--paletteColor5);
}