.gdpr-confirm-policy {
	--fontSize: 13px;
	
	display: flex;
	align-items: center;

	label {
		cursor: pointer;
		font-size: var(--fontSize);
		line-height: normal;
		text-align: left;

		a {
			text-decoration: underline;
		}

		&:after {
			content: '*';
			font-size: 15px;
			font-weight: 600;
			margin-left: 3px;
		}
	}
}

.ct-mailchimp-form {
	.gdpr-confirm-policy {
		margin-top: 20px;

		label {
			opacity: 0.8;
		}
	}
}