body,
h1,
h2,
h3,
h4,
h5,
h6,
code,
kbd,
samp,
pre,
.site-title,
.site-description,
.ct-header-text,
.entry-meta,
.ct-post-title,
.menu, .sub-menu, 
.mobile-menu,
.page-description,
.ct-footer-copyright,
.ct-widget > *:not(.widget-title),
.ct-quote-widget blockquote p,
.hentry .entry-content blockquote p {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	font-weight: var(--fontWeight);
	font-style: var(--fontStyle);
	line-height: var(--lineHeight);
	letter-spacing: var(--letterSpacing);
	text-transform: var(--textTransform);
	text-decoration: var(--textDecoration);
}
