.ct-downloads {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 35px;
	margin-top: 40px;

	li {
		margin-bottom: 0;
	}

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		padding: 40px;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 20px 30px rgba(143, 163, 184, 0.15);
		transition: all 0.25s ease;

		&:hover {
			background: #1074A8;
			box-shadow: 0 20px 30px rgba(15, 116, 168, 0.2);

			h3, p {
				color: #fff !important;
			}

			svg {
				fill: #fff;
			}

			p {
				opacity: 0.8;
			}
		}

		&:focus {
			outline: none;
		}
	}

	h3, p, svg {
		transition: all 0.2s ease;
	}

	svg {
		fill: #3297d3;
	}

	p {
		color: #687c93;
	}
}