.ct-slider-input,
.ct-option-input,
.ct-border-option,
.ct-option-number,
.ct-option-spacing,
.ct-color-picker-input {
	input {
		height: var(--height, 30px) !important;
		width: var(--width, 100%) !important;
		margin: var(--margin, 0) !important;
		padding: var(--padding, 3px 8px);
		min-height: initial;
		font-size: var(--fontSize, 12px);
		color: #555d66;
		line-height: normal;
		background-color: var(--background, #fff);
		border-width: var(--borderWidth, 1px);
		border-color: var(--borderColor, #ddd);
		border-radius: var(--borderRadius, 3px);

		transition: box-shadow 0.1s linear,
					background 0.1s linear,
					border-radius 0.1s linear,
					border-color 0.1s linear;

		&:hover {
			--borderColor: var(--accentColor) !important;
		}
	}
}
