.widget-inside {

	.ct-options-panel {
		margin-bottom: 20px;
	}

	.ct-options-root > .ct-control {
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}

	.ct-control {
		margin-top: 20px;
		padding-left: 15px;
		padding-right: 15px;

		&[data-design="inline"] {
			display: flex;
			flex-wrap: wrap;
			> header {
				flex: 0 0 45%;
				max-width: 45%
			}

			> section {
				flex: 0 0 55%;
				max-width: 55%;
				text-align: right;
			}
		}

		&[data-design="block"] {
			> header {
				&:not(:empty) {
					margin-bottom: 10px;
				}
			}
		}
	}

	.ct-option-description {
		margin-top: 15px;
		font-size: 12px;
		font-style: italic;
		color: rgba(85, 93, 102, 0.8);
	}

	.ct-attachment {
		.thumbnail {
			border: none;
			padding: 0;
		}

		.small-remove-button {
			display: flex;
		}
		
		.remove-button {
			display: none;
		}
	}
}

.customize-pane-child {
	.widget-inside {
		.ct-control {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}

// widgets list
#widget-list > div[id*="blocksy_ct"] {
	h3 {
		position: relative;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background: #0085ba;
		}
	}
}