[data-panel*='in'],
[data-panel*='out'] {
	#main-container {
		transition: transform 0.25s ease-in-out;
	}
}

[data-panel*='right'] {
	#main-container {
		transform: translate3d(-70px, 0, 0);
	}
}

[data-panel*='left'] {
	#main-container {
		transform: translate3d(70px, 0, 0);
	}
}

// panel
[data-behaviour*='side'] {
	box-shadow: var(--boxShadow);

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}

[data-behaviour*='side'] {
	@include media-breakpoint-down(sm) {
		--width: 90vw;
	}

	@include media-breakpoint-up(md) {
		--width: 65vw;
	}

	width: var(--width);
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
		visibility 0.25s ease-in-out;

	&.ct-no-transition {
		transition: none !important;
	}
}

[data-behaviour*='right-side'] {
	right: 0;
	transform: translate3d(20%, 0, 0);
}

[data-behaviour*='left-side'] {
	left: 0;
	transform: translate3d(-20%, 0, 0);
}
