.ct-controls-group {
	&:not(:empty) {
		margin-top: 25px;
	}

	&[data-columns="1"] > * {
		&:first-child {
			margin-top: 0;
		}
	}

	&[data-columns="2"] {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 7px;
		padding: 0 14px;

		> .ct-control {
			padding: 0;
		}
	}
}

// group inside layer
.ct-layer-content {
	.ct-controls-group {
		> * {
			padding: 0;
		}
	}
}