#customize-controls {
	.ct-tabs {
		margin-top: 25px;
		margin-left: -12px;
		margin-right: -12px;

		> ul {
			display: flex;
			margin-top: 0;
			margin-left: 14px;
			margin-right: 14px;
			margin-bottom: 0;
			// padding: 0 12px;

			> li {
				flex: 1 1 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				height: 40px;
				margin: 0;
				padding: 0 10px;
				cursor: pointer;
				border: 1px solid #d6d6d6;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				// background: #F1F1F1;

				&:not(:first-child) {
					// border-left: none;
					margin-left: 7px;
				}

				&.active {
					position: relative;

					&:before, &:after {
						position: absolute;
						content: '';
					}

					&:after {
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 1px;
						background: #eee;
					}
				}

				&:not(.active) {
					opacity: 0.5;

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		> .ct-current-tab {
			margin-top: -1px;
			padding: 0 12px;
			border-top: 1px solid #d6d6d6;
			// background: #F1F1F1;
		}

		&:not(:last-child) {
			> .ct-current-tab {
				margin-bottom: 20px;
				// border-bottom: 1px solid #ddd;
			}
		}
	}
}