[data-icons] .item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: inherit;

	svg {
		fill: currentColor;
	}
}

// icon size
[data-icons*='small'] svg {
	height: 12px;
	width: auto;
}

[data-icons*='medium'] svg {
	height: 18px;
	width: auto;
}

[data-icons*='large'] svg {
	height: 23px;
	width: auto;
}

[data-icons*='small-rounded'],
[data-icons*='small-square'] {
	.item-icon {
		width: 36px;
		height: 36px;
	}
}

[data-icons*='medium-rounded'],
[data-icons*='medium-square'] {
	.item-icon {
		width: 48px;
		height: 48px;
	}
}

[data-icons*='large-rounded'],
[data-icons*='large-square'] {
	.item-icon {
		width: 70px;
		height: 70px;
	}
}

// icon shape
[data-icons*='rounded'] .item-icon {
	border-radius: 100%;
}

[data-icons*='square'] .item-icon {
	border-radius: 2px;
}

// icons color type
[data-icons-color='custom'] {
	&[data-icons*='simple'] li {
		> a {
			// --color: rgba(100, 110, 119, 1);
			// --colorHover: var(--paletteColor1);
		}
	}

	&[data-icons*='solid'] li {
		> a {
			background: var(--backgroundColor);

			&:hover {
				background: var(--backgroundColorHover);
			}
		}
	}

	&[data-icons*='outline'] li {
		> a {
			border: 1px solid var(--backgroundColor);

			&:hover {
				border-color: var(--backgroundColorHover);
			}
		}
	}
}

[data-icons-color='official'] {
	&[data-icons*='simple'] .item-icon {
		color: var(--officialColor);
	}

	&[data-icons*='solid'] .item-icon {
		color: #fff;
		background: var(--officialColor);
	}

	&[data-icons*='outline'] .item-icon {
		color: var(--officialColor);
		border: 1px solid var(--officialColor);
	}

	.item-icon {
		&:hover {
			opacity: 0.8;
		}
	}

	[data-network='facebook'] {
		--officialColor: #557dbc;
	}

	[data-network='twitter'] {
		--officialColor: #7acdee;
	}

	[data-network='instagram'] {
		--officialColor: #292929;
	}

	[data-network='pinterest'] {
		--officialColor: #ea575a;
	}

	[data-network='dribbble'] {
		--officialColor: #d77ea6;
	}

	[data-network='linkedin'] {
		--officialColor: #1c86c6;
	}

	[data-network='medium'] {
		--officialColor: #292929;
	}

	[data-network='patreon'] {
		--officialColor: #e65c4b;
	}

	[data-network='vk'] {
		--officialColor: #5382b6;
	}

	[data-network='youtube'] {
		--officialColor: #e96651;
	}

	[data-network='vimeo'] {
		--officialColor: #8ecfde;
	}

	[data-network='rss'] {
		--officialColor: #f09124;
	}

	[data-network='whatsapp'] {
		--officialColor: #5BBA67;
	}

	[data-network='viber'] {
		--officialColor: #7F509E;
	}

	[data-network='telegram'] {
		--officialColor: #229CCE;
	}

	[data-network='xing'] {
		--officialColor: #0A5C5D;
	}

	[data-network='weibo'] {
		--officialColor: #E41C34;
	}

	[data-network='qq'] {
		--officialColor: #487FC8;
	}

	[data-network='wechat'] {
		--officialColor: #2DC121;
	}
}
