[data-column="copyright"] {
	display: flex;
	justify-content: var(--alignment);
}

.ct-footer-copyright {
	display: flex;
	flex-direction: column;
	align-items: var(--alignment);
	color: var(--color);
	margin: var(--margin);

	> *:not(:first-child) {
		margin-top: 0.5em;
	}
}