[data-column="menu"] {
	display: flex;
	justify-content: var(--alignment);
}

.footer-menu {
	margin: var(--margin);
	
	ul {
		flex-wrap: wrap;
		justify-content: var(--alignment);
		position: relative;
		height: initial;
		margin-top: calc(var(--menuItemsSpacing) / 2 * -1);
		margin-left: calc(var(--menuItemsSpacing) / 2 * -1);
		margin-right: calc(var(--menuItemsSpacing) / 2 * -1);

		li {
			margin-top: calc(var(--menuItemsSpacing) / 2);
		}
	}

	.child-indicator {
		display: none;
	}
}