.ct-color-palettes {
	position: relative;
	margin: 0 -15px;

	li {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 50px;
		padding: 0 15px 0 15px;
		margin-bottom: 12px;
		border-radius: 100px;
		background: transparent;
		box-sizing: border-box;
		transition: background 0.15s ease;

		&:last-child {
			margin-bottom: 0;
		}
		
		&:hover,
		&.active {
			background: rgba(255, 255, 255, 1);
			// box-shadow: 0px 0px 0px 1px $accent_color;
		}

		label {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 12px;
			font-weight: 500;
		}

		input[type="radio"] {
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			margin: 0 8px 0 0;
			border: 2px solid #d5dbde;
			background: transparent;
			box-shadow: none;
			transition: none;
			appearance: none;

			&:checked {
				border-color: $accent_color;
				background: $accent_color;

				&:before {
					content: '';
					width: 6px;
					height: 6px;
					margin: 3px;
					background: #fff !important;
				}
			}
		}
	}
}