$top-offset: 12px;


.ct-color-modal-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 20;
}

.ct-color-picker-modal {
	position: var(--position, absolute);
	// z-index: 20;
	top: #{$top-offset + 7};
	width: var(--width, 295px);
	margin-bottom: 30px;
	border-radius: 8px;
	background: var(--background, #fff);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
	transform-origin: center top;
}

// modal arrow
.ct-color-modal-wrapper .ct-arrow {
	position: absolute;
	// z-index: 15;
	top: $top-offset;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 7px 6px;
	border-color: transparent transparent #ffffff transparent;
}