/*!
  EDJE Functional Sass v3.1.0
  Documentation: https://github.com/hrsetyono/edje/wiki
*/.CodeMirror{margin:0 -26px}.ct-option-description p,.ct-title p{margin-top:0;font-style:normal}.ct-option-description ul,.ct-title ul{padding-left:1rem;list-style-type:disc}.ct-option-description code,.ct-title code{display:inline-block;margin-bottom:0.5rem;font-size:12px;border-radius:4px}.ct-title .notice{padding:0.5rem;border:0;border-left:4px solid var(--c1)}.ct-title .notice code{padding:0 4px;margin-bottom:0}
