/*!
  EDJE Functional Sass v3.1.0
  Documentation: https://github.com/hrsetyono/edje/wiki
*/.CodeMirror{margin:0 -26px}.ct-option-description ul{padding-left:1rem;list-style-type:disc}.ct-option-description code{display:inline-block;margin-bottom:0.5rem;font-style:normal;font-size:12px;border-radius:4px}
