/*!
  EDJE Functional Sass v3.1.0
  Documentation: https://github.com/hrsetyono/edje/wiki
*/
@charset "UTF-8";

// EDJE COLORS
// Read more at https://github.com/hrsetyono/edje/wiki/Colors
$h-colors: (
  // Palette
  'red': #d32f2f,
  'red-dark': #b71c1c,
  'red-light': #ffcdd2,
  
  'orange': #fB8c00,
  'orange-dark': #e65100,
  'orange-light': #ffe0b2,

  'yellow': #ffee58,
  'yellow-dark': #ffd600,
  'yellow-light': #fff9c4,

  'green': #4caf50,
  'green-dark': #2e7d32,
  'green-light': #c8e6c9,
  
  'blue': #1976d2,
  'blue-dark': #1565c0,
  'blue-light': #bbdefb,

  'gray': #b0bec5,
  'gray-dark': #90a4ae,
  'gray-light': #eceff1,

  'black': black,
  'white': white,

  // Named color
  'main': var(--blue),
  'main-dark': var(--blue-dark),
  'main-light': var(--blue-light),

  'sub': var(--gray),
  'sub-dark': var(--gray-dark),
  'sub-light': var(--gray-light),

  // Typography
  'text': #222,
  'passive': #888,
  'header': var(--text),

  // Other
  'body': #ffffff
);

///// MEDIA QUERY
$size-xs : 480px;
$size-s  : 767px;
$size-m  : 960px;
$size-l  : 1120px;

$below-xs: "max-width:#{ $size-xs }";
$above-xs: "min-width:#{ $size-xs + 1px }";
$below-s: "max-width:#{ $size-s }";
$above-s: "min-width:#{ $size-s + 1px }";
$below-m: "max-width:#{ $size-m }";
$above-m: "min-width:#{ $size-m + 1px }";
$below-l: "max-width:#{ $size-l }";
$above-l: "min-width:#{ $size-l + 1px }";

$below-nav: $below-s; // small navigation breakpoint
$above-nav: $above-s;

$portrait: "orientation: portrait";
$landscape: "orientation: landscape";
$retina: "min-resolution: 192dpi";

///// TYPOGRAPHY
$font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-header : "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
$font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Put file in /assets/fonts directory
$font-faces: (
  // "Open Sans": (
  //   ( "opensans.woff", 400 ),
  //   ( "opensans-italic.woff", 400, italic ),
  //   ( "opensans-bold.woff", 700 )
  // )
);

$font-weight : 400;
$font-line   : 1.65;
$font-size : 16px;
$color-link : inherit;
$color-link-hover : var(--blue);

// HEADER
$header-weight  : 700;
$header-line    : 1.25;
$header-spacing : 0;
$header-transform : none;

$h1: (base: 42px, s: 30px);
$h2: (base: 36px, s: 26px);
$h3: (base: 30px, s: 22px);
$h4: (base: 24px, s: 20px);
$h5: (base: 20px, s: 18px);
$h6: (base: $font-size, s: $font-size);

// LIST
$ul-parent : disc;
$ul-child  : circle;
$ol-parent : decimal;
$ol-child  : lower-alpha;

///// GRID
$grid-columns : 12;
$grid-gap     : 20px;
$grid-rim     : 16px;
$grid-max-width : $size-l;

$content-width: 650px;

// Tile
$tile-max : 8;
$tile-gap : 20px;

///// OTHER
$shadow-z0: 0 0.5px 2px rgba(black, .18), 0 1.5px 6px rgba(black, .08);
$shadow-z1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12);
$shadow-z2: 0 3px 12px rgba(black, .23), 0 3px 12px rgba(black, .16);
$shadow-z3: 0 6px 12px rgba(black, .23), 0 10px 40px rgba(black, .19);

$g-radius : 4px;
$g-transition : all .25s ease-out;

$image-url: '../files/';
$font-url: '../files/';



// Custom bit for Functional Sass
$h-custom: (
  content-empty: ( content: '' ), 
);

// For gutenberg's Social block
$social-colors: (
  amazon: #f90,
  bandcamp: #1ea0c3,
  behance: #0757fe,
  chain: #f0f0f0,
  codepen: #1e1f26,
  deviantart: #02e49b,
  dribbble: #e94c89,
  dropbox: #4280ff,
  etsy: #f45800,
  facebook: #1977f2,
  feed: #f0f0f0,
  fivehundredpx: #000,
  flickr: #0461dd,
  foursquare: #e65678,
  github: #24292d,
  goodreads: #eceadd,
  google: #ea4434,
  instagram: #f00075,
  lastfm: #e21b24,
  linkedin: #0577b5,
  line: #03c302,
  mail: #f0f0f0,
  mastodon: #3288d4,
  medium: #02ab6c,
  meetup: #f6405f,
  pinterest: #e60122,
  pocket: #ef4155,
  reddit: #fe4500,
  skype: #0478d7,
  snapchat: #fefc00,
  soundcloud: #ff5600,
  spotify: #1bd760,
  telegram: #08c,
  tumblr: #011835,
  twitch: #6440a4,
  twitter: #21a1f3,
  vimeo: #1eb7ea,
  vk: #4680c2,
  wordpress: #3499cd,
  jetpack-whatsapp: #25d366,
  yelp: #d32422,
  youtube: #ff0100,
);

@import "_edje/index";