// This styling is applied to WP Admin
$output-framework: false
@import "settings"

.CodeMirror
	margin: 0 -26px

.ct-option-description
	ul
		padding-left: 1rem
		list-style-type: disc
	code
		display: inline-block
		margin-bottom: 0.5rem
		font-style: normal
		font-size: 12px
		border-radius: 4px