// This styling is applied to WP Admin
$output-framework: false
@import "settings"

\:root
  --paletteColor1: var(--main)
  --paletteColor2: var(--mainDark)
  --paletteColor3: var(--mainLight)
  --paletteColor4: var(--color)
  --paletteColor5: var(--panelColor)

// TYPOGRAPHY
html
  font-size: var(--fontSize)

.has-small-font-size
  font-size: var(--smallFontSize)
.has-medium-font-size
  font-size: var(--mediumFontSize)
.has-large-font-size
  font-size: var(--largeFontSize)

h1, h2, h3, h4, h5, h6
  --fontFamily: var(--hFontFamily)
  --fontWeight: var(--hFontWeight)
  --fontStyle: var(--hFontStyle)
  --lineHeight: var(--hLineHeight)
  --letterSpacing: var(--hLetterSpacing)
  --textTransform: var(--hTextTransform)
  --textDecoration: var(--hTextDecoration)
  font-size: var(--headingSize)

  .entry-content &
    --color: var(--headingColor)

h1
  --headingSize: var(--h1Size)
h2
  --headingSize: var(--h2Size)
h3
  --headingSize: var(--h3Size)
h4
  --headingSize: var(--h4Size)
h5
  --headingSize: var(--h5Size)
h6
  --headingSize: var(--h6Size)
  

// FORMS
form textarea
  --formInputHeight: var(--formTextAreaHeight)

[data-forms='classic']
  textarea,
  input[type='url'],
  input[type='tel'],
  input[type='text'],
  input[type='date'],
  input[type='email'],
  input[type='number'],
  input[type='search']:not(.modal-field),
  input[type='password'],
  .selectr-selected
    border: var(--formBorder)

.selectr-container
  --color: var(--selectDefaultColor)
  --colorHover: var(--selectHoverColor)
  --colorActive: var(--selectActiveColor)
  
  --selectDropdownItemHoverColor: var(--selectItemHoverColor)
  --selectDropdownItemActiveColor: var(--selectItemActiveColor)
  --selectDropdownBackground: var(--selectBackground)

[type="radio"],
[type="checkbox"]
  --radioCheckboxInitialColor: var(--radioInitialColor)
  --radioCheckboxAccentColor: var(--radioAccentColor)

#main-container
  input[type="radio"],
  input[type="checkbox"]
    border: var(--formBorder)

// SIDEBAR
aside[data-type="type-2"]
  --border: var(--sidebarBorder)
  
  .ct-sidebar:not([data-widgets="separated"])
    box-shadow: var(--sidebarShadow)
  
  .ct-sidebar[data-widgets="separated"] .ct-widget
    box-shadow: var(--sidebarShadow)


aside[data-type="type-3"]
  --border: var(--sidebarBorder)

.ct-sidebar
  .widget-title
    --headingSize: var(--sidebarTitleSize)
    --color: var(--sidebarTitleColor)