.entry-summary form.cart {
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 2em;
	border-top: 1px solid $border-color;
}

// grouped product
form.grouped_form {
	ul {
		list-style: none;
		margin: 0 0 35px 0;
		padding: 0 0 35px 0;
		border-bottom: 1px dashed rgba(224, 229, 235, 0.8);

		li {
			display: grid;
			align-items: center;
			grid-column-gap: 25px;

			@include media-breakpoint-down (xs) {
				grid-template-columns: 145px auto;

				&:not(:last-child) {
					margin-bottom: 1.5em;
					padding-bottom: 1.5em;
					border-bottom: 1px dashed rgba(224, 229, 235, 0.8);
				}
			}

			@include media-breakpoint-up (sm) {
				grid-template-columns: 145px auto auto;

				&:not(:last-child) {
					margin-bottom: 1.8em;
				}
			}
		}
	}

	.ct-quantity {
		@include media-breakpoint-down (xs) {
			--quantitySize: 40px;
			max-width: 130px;
		}
	}

	.woocommerce-grouped-product-list-item__label {
		line-height: 1.4;
		font-weight: 500;

		@include media-breakpoint-down (xs) {
			grid-column: span 2;
			grid-row: 1;
			margin-bottom: 17px;
		}
	}

	.woocommerce-grouped-product-list-item__price {
		text-align: right;
		font-weight: 500;

		@include media-breakpoint-down (xs) {
			font-size: 15px;
		}

		del {
			font-size: 85%;
			opacity: 0.7;
		}
	}

	.button,
	.added_to_cart {
		@include media-breakpoint-down (xs) {
			min-width: 100%;
		}

		@include media-breakpoint-up (sm) {
			min-width: 145px;
		}
	}

	.added_to_cart {
		@include media-breakpoint-down (xs) {
			margin-top: 2em;
		}

		@include media-breakpoint-up (sm) {
			margin-left: 22px;
		}
	}
}


// simple product
.product-type-simple {
	form.cart {
		// code here
	}
}


// variable product
form.variations_form {
	.variations {
		display: grid;
		@include media-breakpoint-up (lg) {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}

		@include media-breakpoint-only (md) {
			grid-template-columns: repeat(2, 1fr);
		}

		grid-column-gap: 25px;
		grid-row-gap: 25px;
		position: relative;
		@include list-normalize;

		li {
			label {
				display: block;
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.reset_variations {
				position: absolute;
				font-size: 0;
				top: 5px;
				right: 0;

				&:before {
					display: flex;
					justify-content: center;
					content: '×';
					width: 14px;
					height: 14px;
					font-size: 18px;
					line-height: 12px;
				}
			}
		}
	}

	.single_variation_wrap {
		margin-top: 50px;
	}

	.single_variation {
		display: none;
		padding-top: 1.6em;
		margin-bottom: 1.6em;
		border-top: 1px dashed $border-color;

		> * {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}

		.price {
			font-size: 18px;

			del {
				font-size: 75%;
			}
		}

		.woocommerce-variation-availability {
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			opacity: 0.7;
		}
	}

	.woocommerce-variation-add-to-cart {
		padding-top: 50px;
		border-top: 1px dashed rgba(224, 229, 235, 0.8);
	}
}


// simple and variation comun
.product-type-simple form.cart,
.woocommerce-variation-add-to-cart {
	display: grid;
	grid-column-gap: 25px;
	grid-row-gap: 2em;

	.quantity {
		grid-row: 1;
	}

	.single_add_to_cart_button {
		margin: 0;
	}

	@include media-breakpoint-down (sm) {
		grid-template-columns: repeat(2, 1fr);

		> * {
			grid-column: span 2;
		}

		.quantity {
			grid-column: 1;
		}

		.single_add_to_cart_button {
			grid-column: span 1;
			grid-row: 1;
		}

		.added_to_cart {
			grid-row: 2;
		}
	}

	@include media-breakpoint-up (md) {
		grid-template-columns: repeat(3, 1fr);

		> * {
			grid-column: span 3;
		}

		.quantity {
			grid-column: 1;
		}

		.single_add_to_cart_button {
			grid-column: span 2;
			grid-row: 1;

			&.added {
				grid-column: span 1;
			}
		}

		.added_to_cart {
			grid-column: span 1;
			grid-row: 1;
		}
	}
}