.entry-summary {
	
	> .product_title {
		margin-bottom: 10px;
	}

	> .woocommerce-product-rating {
		line-height: 2;
		margin-bottom: 5px;
	}

	.price {
		display: flex;
		align-items: center;
		font-size: 20px;
		font-weight: 600;
		color: var(--color);

		del {
			font-size: 75%;
		}
	}
	
	> .price {
		margin-bottom: 28px;
	}

	> .stock {
		margin-top: 2em;
	}

	
	// position sticky
	@include media-breakpoint-up (lg) {
		align-self: flex-start;
		position: sticky;
		top: 50px;
	}
}