.woo-listing-top {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 35px;

	.woocommerce-notices-wrapper {
		display: none;
	}

	.woocommerce-breadcrumb {
		flex: 1 0 auto;
	}
}

// results count
.woocommerce-result-count {
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@include media-breakpoint-down (sm) {
		display: none;
	}

	&:not(:last-child) {
		&:after {
			content: '/';
			margin-left: 12px;
			margin-right: 10px;
		}
	}
}

// woo ordering
.woocommerce-ordering {
	display: flex;

	select,
	.selectr-selected {
		--formInputHeight: 18px;
		--formPadding: 0 18px 0 0;
	}

	.selectr-selected {
		--formFontSize: 11px;

		font-weight: 700;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		border: none;
		background: transparent;

		i {
			width: 16px
		}
	}

	.selectr-options-container {
		--formFontSize: 13px;
		
		right: 0;
		left: initial;
		min-width: 200px;
	}
}