.woocommerce-tabs {
	padding-top: 60px;

	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include list-normalize;
		margin-bottom: 55px;

		&:before, &:after {
			content: '' !important;
			display: block;
			flex: 1 0 auto;
			position: relative !important;
			border: none;
			width: auto;
			height: 1px;
			background: $border-color;

			@include media-breakpoint-down (sm) {
				display: none;
			}
		}

		li {
			border: 1px solid $border-color;

			@include media-breakpoint-down (sm) {
				width: 100%;
				
				&:not(:first-child) {
					margin-top: -1px;
				}
			}

			@include media-breakpoint-up (md) {
				flex: 0 1 auto;
				margin-right: -1px;
			}

			&.active, &:hover {
				background: rgba(242, 244, 247, 0.7);
				border-bottom-color: $border-color;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				padding: 0 25px;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.1em;
				text-transform: uppercase;

				&:hover {
					color: inherit;
				}
			}
		}
	}

	.woocommerce-Tabs-panel {
		> h2 {
			--fontSize: 20px;
			margin-bottom: 30px;
		}
	}
}