.ct-container {
	&:not([data-sidebar]) {
		[data-layout="shop-simple"] {
			@include media-breakpoint-up (lg) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

[data-layout="shop-simple"] {
	display: grid;
	grid-column-gap: var(--cardsGap);
	grid-row-gap: var(--cardsGap);

	.shop-entry-card {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

		&:hover {
			.woo-card-actions {
				opacity: 1;
			}
		}
	}

	.ct-card-content {
		justify-content: center;
	}

	.onsale {
		top: 20px;
		left: 20px;
	}

	.star-rating {
		margin-bottom: 10px;
	}

	.woocommerce-loop-product__title {
		margin-bottom: 5px;
	}

	.product-categories {
		margin-bottom: 10px;
	}

	.entry-excerpt {
		margin-bottom: 20px;
	}

	.price {
		font-size: 16px;
		font-weight: 600;
		padding-top: 20px;
		border-top: 1px solid rgba(224, 229, 235, 0.8);
	}

	.woo-card-actions {
		display: flex;
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 100%;
		padding: 0 20px;
		opacity: 0;
		transition: opacity 0.2s ease;

		a {
			--height: 40px;
			--padding: 0 18px;
		}
	}
}