.shop-entry-card {
	position: relative;
	z-index: 1;
	background: var(--backgroundColor);
	box-shadow: var(--boxShadow);

	> figure {
		position: relative;
		overflow: hidden;

		.ct-image-container {
			height: 100%;

			img {
				height: 100%;
			}

			&:after {
				position: absolute;
				content: '';
				z-index: 2;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: var(--imageOverlay);
			}
		}
	}

	.ct-card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 30px;
	}

	.woocommerce-loop-category__title span {
		font-size: 90%;
	}

	.product-categories {
		font-size: 13px;
		@include list-normalize;

		li {
			display: inline-flex;
			align-items: center;

			&:not(:last-child) {
				&:after {
					content: '/';
					font-size: 12px;
					opacity: 0.7;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}

	.price {
		color: var(--color);

		del {
			opacity: 0.5;
			font-size: 85%;
		}
	}

	.woo-card-actions .button {
		min-width: 41px;

		&.loading {
			font-size: 0 !important;
		}

		&.added {
			display: none !important;
		}
	}
}