table.shop_table {
	th, td {
		padding: 15px 20px;
	}

	th {
		font-weight: 600;
	}
}


@include media-breakpoint-down (sm) {
	table.shop_table_responsive {
		
		thead {
			display: none;
		}

		tbody {
			tr {
				border-bottom: 1px solid #e0e5eb;

				&:first-child {
					border-top: 1px solid #e0e5eb;
				}

				td {
					display: block;
					text-align: right;
					border-top: none;
					border-bottom: none;

					&.product-remove {
						padding-bottom: 0;

						&:before {
							display: none;
						}
					}

					&.product-thumbnail {
						display: none;
					}

					&.product-quantity {
						text-align: right;

						.quantity {
							display: inline-block;
						}
					}
				}
			}
		}

		
		// cart page table
		&.cart {
			tr {
				&:not(:last-child) {
					&:hover {
						background: rgba(242, 244, 247, 0.5);
					}
				}

				td {
					&:before {
						content: attr(data-title) ": ";
						font-weight: 700;
						float: left;
					}
				}
			}
		}
	}
}