.ct-widget {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: var(--lineHeight, 1.65);
			margin-bottom: var(--marginBottom, 15px);

			&:last-child {
				margin-bottom: 0;
			}

			.post-date,
			.ct-entry-meta {
				font-size: 13px;
				line-height: normal;
				opacity: 0.7;
				margin-top: 8px;
			}

			ul {
				padding-left: 25px;
				margin-top: 15px;
			}
		}
	}
}

.widget-menu,
.widget_meta,
.widget_archive,
.widget_categories,
.widget_product_categories {
	a {
		// display: inline;

		&:before {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			content: '';
			width: 6px;
			height: 6px;
			top: -2px;
			margin-right: 12px;
			border-radius: 50%;
			box-sizing: border-box;
			border: 1px solid currentColor;
		}
	}
}


@import 'text';
@import 'audio';
@import 'search';
@import 'gallery';
@import 'calendar';
@import 'tag-cloud';
@import 'recent-posts';
@import 'navigation-menu';
@import 'recent-comments';

// woo widgets
@import 'woo/main';