.ct-social-box {
	display: flex;
	flex-wrap: var(--wrap, wrap);
	align-items: center;
	list-style: none;
	padding: 0;
	margin: calc(var(--spacing) * -1) calc(var(--spacing) / -2) 0 calc(var(--spacing) / -2) !important;

	li {
		margin: var(--spacing) calc(var(--spacing) / 2) 0 calc(var(--spacing) / 2) !important;
		line-height: normal;
	}
}