.woocommerce-cart-form table {
	margin-bottom: 40px;

	.product-thumbnail {
		@include media-breakpoint-only (md) {
			display: none;
		}

		width: 10%;
		min-width: 60px;

		img {
			width: 100px;
		}
	}

	.product-quantity {
		@include media-breakpoint-up (md) {
			width: 1%;
			text-align: center;
		}

		.ct-quantity {
			--quantitySize: 40px;
			width: 130px;
		}
	}

	.product-remove {
		@include media-breakpoint-up (md) {
			width: 1%;
		}

		a.remove {
			font-size: 20px;
			opacity: 0.5;
			transition: color 0.2s ease,
						opacity 0.2s ease;

			&:hover {
				color: red;
				opacity: 1;
			}
		}
	}

	.product-price,
	.product-subtotal {
		@include media-breakpoint-up (md) {
			width: 1%;
			text-align: center;
		}

		@include media-breakpoint-up (lg) {
			min-width: 170px;
		}
	}

	.product-subtotal {
		font-weight: 600;
		color: var(--paletteColor1);
	}


	// form actions
	.actions {
		padding: 20px;
		text-align: right;

		&:before {
			display: none;
		}

		.button {
			text-transform: capitalize;

			@include media-breakpoint-down (sm) {
				width: 100%;
			}
		}
	}
}