$border-color: rgba(224, 229, 235, 0.8);

@import 'general';
@import 'listing-top';
@import 'breadcrumbs';
@import 'sale-badge';
@import 'star-rating';
@import 'buttons';
@import 'table';
@import 'message';
@import 'form-row';
@import 'coupon-code';
@import 'store-notice';
@import 'misc';


// entries
@import 'shop-entries';
@import 'shop-grid';
@import 'shop-simple';


// product page
@import 'product-single';
@import 'product-gallery';
@import 'entry-summary';
@import 'entry-cart';
@import 'entry-meta';
@import 'product-tabs';
@import 'product-attributes';
@import 'product-comments';
@import 'product-comment-form';
@import 'related-upsells';


// cart page
@import 'cart-page';
@import 'cart-collaterals';


// checkout page
@import 'checkout-page';
@import 'checkout-payment';


// account page
@import 'login-form';
@import 'account-page';


// page builders adjustments
@import 'page-builders';


// blocks
@import 'blocks/main';