.woocommerce-product-attributes {
	font-size: 15px;

	th {
		font-weight: 500;
		text-align: initial;
		width: 250px;
	}

	tr {
		&:nth-child(even) {
			th, td {
				background: rgba(242, 244, 247, 0.5);
			}
		}
	}
}