// COLOR
$h-colors: (
  // Palette
  'red': #d32f2f,
  'red-dark': #b71c1c,
  'red-light': #ffcdd2,
  
  'orange': #fB8c00,
  'orange-dark': #e65100,
  'orange-light': #ffe0b2,

  'yellow': #ffee58,
  'yellow-dark': #ffd600,
  'yellow-light': #fff9c4,

  'green': #4caf50,
  'green-dark': #2e7d32,
  'green-light': #c8e6c9,
  
  'blue': #1976d2,
  'blue-dark': #1565c0,
  'blue-light': #bbdefb,

  'gray': #b0bec5,
  'gray-dark': #90a4ae,
  'gray-light': #eceff1,

  'black': black,
  'white': white,

  // Named color
  'main': var(--blue),
  'main-dark': var(--blue-dark),
  'main-light': var(--blue-light),

  'sub': var(--gray),
  'sub-dark': var(--gray-dark),
  'sub-light': var(--gray-light),

  // Typography
  'text': #222,
  'passive': #888,
  'header': var(--text),

  // Other
  'body': #ffffff
) !default;


// FONT
$font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-header : "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif !default;
$font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$font-weight : 400 !default;
$font-line   : 1.65 !default;
$font-size   : 16px !default;
$color-link : inherit !default;
$color-link-hover : var(--blue) !default;

$header-line    : 1.25 !default;
$header-weight  : 700 !default;
$header-spacing : 0 !default;
$header-transform : none !default;

$h1: (base: 42px, s: 30px) !default;
$h2: (base: 36px, s: 26px) !default;
$h3: (base: 30px, s: 22px) !default;
$h4: (base: 24px, s: 20px) !default;
$h5: (base: 20px, s: 18px) !default;
$h6: (base: $font-size, s: $font-size) !default;


// LIST
$ul-parent : disc !default;
$ul-child  : circle !default;
$ol-parent : decimal !default;
$ol-child  : lower-alpha !default;


// SIZING
$size-xs : 480px !default;
$size-s  : 767px !default;
$size-m  : 960px !default;
$size-l  : 1120px !default;

$below-xs: "max-width:#{ $size-xs }" !default;
$above-xs: "min-width:#{ $size-xs + 1px }" !default;
$below-s: "max-width:#{ $size-s }" !default;
$above-s: "min-width:#{ $size-s + 1px }" !default;
$below-m: "max-width:#{ $size-m }" !default;
$above-m: "min-width:#{ $size-m + 1px }" !default;
$below-l: "max-width:#{ $size-l }" !default;
$above-l: "min-width:#{ $size-l + 1px }" !default;

$portrait: "orientation: portrait" !default;
$landscape: "orientation: landscape" !default;
$retina: "min-resolution: 192dpi" !default;


///// GRID
$grid-columns : 12 !default;
$grid-gap     : 20px !default;
$grid-rim     : 16px !default;
$grid-max-width : $size-l !default;

// Tile
$tile-max : 8 !default;
$tile-gap : 20px !default;


// GLOBAL VAR
$g-radius: 4px !default;
$g-transition: all .25s ease-in-out !default;

$shadow-z0: 0 0.5px 2px rgba(black, .18), 0 1.5px 6px rgba(black, .08) !default;
$shadow-z1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12) !default;
$shadow-z2: 0 3px 12px rgba(black, .23), 0 3px 12px rgba(black, .16) !default;
$shadow-z3: 0 6px 12px rgba(black, .23), 0 10px 40px rgba(black, .19) !default;

$h-custom: () !default;

@import "utility-h";
@import "utility";
@import "functional-vars";
@import "output";