.wc-block-grid {

	ul {
		margin: 0 -30px 0 0;

		li {
			margin-bottom: 0;
			padding: 0 30px 40px 0;

			@include media-breakpoint-down (sm) {
				flex: 1 0 100% !important;
				max-width: 100% !important;
			}

			@include media-breakpoint-only (md) {
				flex: 1 0 50% !important;
				max-width: 50% !important;
			}
		}
	}

	.wc-block-grid__product-add-to-cart {
		margin-bottom: 0;

		.added {
			display: none;
		}

		.added_to_cart {
			--height: 48px;
			--borderRadius: 28px;
		}
	}
}