.product_list_widget {
	li {
		--margin: 20px;
		display: flex;
	}

	.ct-image-container {
		align-self: flex-start;

		@include media-breakpoint-down (xs) {
			flex: 0 0 25%;
			margin-right: 5%;
		}

		@include media-breakpoint-only (sm) {
			flex: 0 0 20%;
			margin-right: 4%;
		}

		@include media-breakpoint-only (md) {
			flex: 0 0 15%;
			margin-right: 3%;
		}

		@include media-breakpoint-up (lg) {
			flex: 0 0 25%;
			margin-right: 25px;
		}
	}

	.ct-entry-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 0;

		.star-rating {
			margin-top: 8px;
		}

		.price {
			display: flex;
			font-size: 13px;
			font-weight: 500;
			margin-top: 8px;
		}

		.reviewer {
			font-size: 13px;
			font-weight: 500;
			margin-top: 8px;
		}
	}

	.product-title {
		word-wrap: break-word;
		word-break: break-word;
	}
}