[id="wpbody-content"] {
	> .notice-footer-builder {
		width: calc(100% - 30px);
	}
}

.notice-footer-builder {
	position: relative;
	padding: 25px 20px;
	border-left-color: #00a0d2;

	h2 {
		margin-top: 0;
		margin-bottom: 10px !important;
	}

	p {
		padding: 0;
	}

	.notice-actions {
		margin-top: 25px;

		a {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}