.ct-patterns-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 25px;
	margin: 25px 0 0 0;

	li {
		cursor: pointer;
		margin: 0;
		min-height: 71.6px;
		padding: 2px;
		border-radius: 3px;
		box-sizing: border-box;
		border: 2px solid #e0e0e0;

		img {
			display: block;
		}

		&:hover {
			border-color: #d1d2d2;
		}

		&.active {
			border-color: var(--accentColor);
			box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
		}
	}
}