.hero-section[data-type="type-2"] {
	position: relative;
	z-index: 1;
	background: var(--pageTitleBackground);

	> .ct-container {
		display: flex;
		align-items: center;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: var(--minHeight);
	}

	> figure {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> .ct-image-container {
			height: 100%;
		}

		&:after {
			position: absolute;
			z-index: 2;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: var(--pageTitleOverlay);
		}
	}

	.ct-container {
		position: relative;
		z-index: 2;
	}

	.entry-header {
		width: 100%;

		> * {
			&:not(:first-child) {
				margin-top: var(--heroContentSpacing, 25px);
			}
		}
	}

	&[data-alignment="center"] .entry-header {
		@include media-breakpoint-up (lg) {
			width: 60%;
			margin: 0 auto;
		}
	}

	.entry-title, .page-title {
		span {
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			margin-bottom: 10px;
		}
	}

	.entry-meta {
		@include media-breakpoint-down (sm) {
			.avatar-container {
				display: none;
			}

			ul {
				justify-content: center;
			}
		}
	}

	.ct-meta-categories {
		display: flex;
		flex-wrap: wrap;

		.ct-meta-element {
			a {
				--buttonFontFamily: var(--fontFamily);
				--buttonFontSize: 10px;
				--height: 26px;
				--padding: 0 10px;
				--buttonShadow: none;

				&:after {
					display: none;
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}