[data-layout="gutenberg"] {
	article {
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: var(--cardsGap);
		}

		> * {
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			+ .ct-image-container {
				@include media-breakpoint-down (md) {
					margin-top: 10px;
				}

				@include media-breakpoint-up (lg) {
					margin-top: 20px;
				}
			}
		}

		> .ct-image-container {
			@include media-breakpoint-up (lg) {
				width: calc(100% + var(--wideOffset) * 2);
				max-width: 100vw;
				margin-left: calc( var(--wideOffset) * -1);
				margin-right: calc( var(--wideOffset) * -1);
			}

			+ * {
				@include media-breakpoint-down (md) {
					margin-top: 10px;
				}

				@include media-breakpoint-up (lg) {
					margin-top: 20px;
				}
			}
		}


		// divider
		&:not(:last-child) {
			&:after {
				content: "\00b7 \00b7 \00b7 \00b7 \00b7";
				font-size: 25px;
				letter-spacing: 1.5em;
				padding-left: 1.5em;
				font-family: serif;
				text-align: center;
				opacity: 0.5;
				margin-top: calc(var(--cardsGap) + 10px);
			}
		}
	}
}