.ct-header-search {
	display: flex;
	align-items: center;

	a {
		display: flex;
		align-items: center;

		svg {
			flex-grow: 1;
			width: var(--iconSize);
			height: var(--iconSize);
			fill: currentColor;
		}
	}
}


// Search modal form
#search-modal {

	form {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;

		@include media-breakpoint-down (sm) {
			max-width: 88%;
		}

		@include media-breakpoint-only (md) {
			max-width: 90%;
		}

		@include media-breakpoint-up (lg) {
			max-width: 800px;
		}

		&.ct-has-dropdown {
			padding-top: 80px;
			padding-bottom: 50px;
		}
	}

	.ct-search-input {
		input[type="search"] {
			@include media-breakpoint-down (sm) {
				--formInputHeight: 65px;
				--formFontSize: 22px;
				--formPadding: 0;
			}

			@include media-breakpoint-up (md) {
				--formInputHeight: 100px;
				--formFontSize: 35px;
				--formPadding: 0 90px 0 30px;
			}

			--formBorderInitialColor: rgba(255, 255, 255, 0.2);

			font-weight: 500;
			color: #fff;
			letter-spacing: 0.03em;
			background-color: transparent;
		}

		.search-submit {
			border-radius: 100%;
			color: #fff;
			background: var(--paletteColor1);

			@include media-breakpoint-up (md) {
				top: calc(50% - 28px);
				right: 30px;
				width: 56px;
				height: 56px;

				svg {
					width: 16px;
					height: 16px;
				}
			}

			@include media-breakpoint-down (sm) {
				top: calc(50% - 20px);
				right: 0;
				width: 40px;
				height: 40px;

				svg {
					width: 12px;
					height: 12px;
				}
			}

			i {
				width: 100%;
				height: 100%;
				color: inherit;

				svg {
					transition: transform 0.2s ease;
				}

				&:hover {
					svg {
						transform: scale(1.15);
					}
				}
			}

			&:focus {
				outline: none;
			}
		}

		[data-loader] {
			--loaderSize: 80%;
			--loaderColor: #fff;
		}
	}
}


// Search modal results
#search-modal {

	a {
		color: var(--color);

		&:hover {
			color: var(--colorHover);
		}
	}

	ul {
		display: grid;
		@include media-breakpoint-up (md) {
			grid-template-columns: repeat(2, 1fr);
		}
		grid-column-gap: 30px;
		// grid-row-gap: 25px;

		width: 100%;
		@include list-normalize;

		li {
			min-width: 0;
			margin-top: 30px;

			@include media-breakpoint-down (sm) {
				grid-column: span 2;
			}

			a {
				display: flex;
				align-items: center;
				font-size: 15px;
				line-height: 1.5;
				font-weight: 500;

				.ct-image-container {
					@include media-breakpoint-down (sm) {
						flex: 0 0 15%;
						max-width: 15%;
					}

					@include media-breakpoint-up (md) {
						flex: 0 0 20%;
						max-width: 20%;
					}

					margin-right: 5%;
					overflow: hidden;
					border-radius: 2px;
				}

				span {
					min-width: 0;
				}
			}
		}

		// show more button
		> a {
			grid-column: span 2;
			margin-top: 20px;
			font-size: 14px;
			font-weight: 400;
			text-transform: capitalize;
			text-align: center;
		}
	}
}