.ct-header-socials {
	display: flex;
	align-items: center;

	ul {
		--wrap: nowrap;
	}

	[data-icons*="rounded"],
	[data-icons*="square"] {
		a {
			width: calc(var(--iconSize) * 2.5);
			height: calc(var(--iconSize) * 2.5);
		}
	}

	svg {
		width: auto;
		height: var(--iconSize);
	}
}