.post-password-form {

	> p:last-child {
		display: flex;

		label {
			font-size: 0;
			width: 40%;
			margin-right: 10px;
		}

		input[type="submit"] {
			--buttonTransform: none;
		}

		@include media-breakpoint-down (sm) {
			label {
				flex: 1 1 auto;
			}
		}
	}
}